# Файлы компиляции и сборки Java
*.class
**/*.class
/out/
/target/
/build/

# Настройки среды разработки (IntelliJ IDEA, Eclipse, NetBeans)
.idea/
*.iml
*.iws
.settings/
.classpath
.project
.gradle/
build/
gradle/wrapper/gradle-wrapper.jar

# Системные файлы Mac
.DS_Store
